/* Color Palette: ISRO
  orange: #f47216;
  blue: #0e88d3;
  dark: #333333;
  white: #ff3fff;
*/

:root {
  --orange: #f47216;
  --blue: #0e88d3;
  --dark: #333333;
  --white: #f7e1f7;
}

@font-face {
  src: url("assets/911porschav3.ttf");
  font-family: "Porschav";
}

@font-face {
  src: url("assets/911porschav3laser.ttf");
  font-family: "PorschavLaser";
}

@font-face {
  src: url("assets/911porschav33dital.ttf");
  font-family: "Porschavdital";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: "Porschav";
  background-color: var(--white);
}

.card {
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  background: var(--white);
  padding: 30px 0;
  background-image: url("./assets/TZf4ZyXb0lXXi.webp");
  background-size: cover;
  background-position: center;
}

.logo-img {
  width: 200px;
}

.title-text {
  margin-bottom: 15px;
}

.btn {
  font-family: inherit;
  background-color: var(--orange);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-family: "PorschavLaser";
}

/* Utility Class */
.underline {
  border-bottom: 5px solid rgba(0, 0, 0, 0.355);
}
