* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.card {
  text-align: center;
}

.logo-img {
  width: 200px;
}

.title-text {
  margin-bottom: 15px;
}

/* Utility Class */
.underline {
  border-bottom: 5px solid rgba(0, 0, 0, 0.355);
}
